* {
	margin: 0;
	padding: 0;
}

div#choooseFileContainer {
	padding-top: 300px;
	margin: auto;
	width: 50%;
}

div.image-container {
	width: 50%;
	position: absolute;
	height: 100%;

	display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

img.image{
	flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

div#left-div {
	float: left;
	left: 0px;
	
}

div#right-div {
	float: right;
	right: 0px;
}

div#winner-div {
	width: 100%;
	height: 100%;
}

img#winner-img {
	display: block;
	margin: auto;
}